.vscode
.serena
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/__pycache__/
*.pyc
/build/
/*.eggs/
/.dist/
/*.egg-info/
/.coverage
/htmlcov/
/.pytest_cache/
/copy_market/
/dist/
/.clinic/
/winscripts
nul
/coverage
.env

# Log files
*.log
*.gz
logs/
dist/src/utils/logs/

# Development SQLite database files
prisma/sqlite/data/
prisma/sqlite/migrations/
dev.db
dev.db-journal
dev.db-shm
dev.db-wal
TODO
.npmignore